* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

html {
    background: linear-gradient(to bottom, $soft-violet, transparent),
        linear-gradient(to top, $soft-blue, transparent);
}

body {
    background: linear-gradient(to top, $soft-violet, transparent),
        linear-gradient(to bottom, $soft-blue, transparent);
    background-blend-mode: screen;
}

div.wrapper {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    // background: linear-gradient(to bottom, $soft-violet, transparent),
    //     linear-gradient(to top, $soft-blue, transparent);
    // background-blend-mode: screen;

    section.top {
        position: absolute;
        z-index: 1;
        top: 4%;
        left: 47%;
        transform: translateX(-54%);
        // background-color: yellow;

        .lady {
            animation: logo-move 3s linear infinite;
        }

        img.pattern {
            position: absolute;
            top: 110px;
            right: 0;
            animation: pattern-change 3s linear infinite;
        }

        img.mail-box,
        img.lady-desktop,
        img.pattern-dekstop {
            display: none;
        }
    }

    section.faq {
        position: absolute;
        top: calc(4% + 107px);
        // bottom: 10%;
        left: 2%;
        right: 2%;
        min-height: calc(100% - 4% - 107px - 10%);
        padding-top: 95px;
        margin: 0 15px;
        background-color: #fff;
        border-radius: 20px;

        h1 {
            text-align: center;
            // padding-bottom: 5px;
            font-size: 28px;
        }

        div.cases {
            padding: 0 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: calc(100% - 25px - 40px);
            // background-color: #f00;

            div.case {
                // height: 36px;
                overflow: hidden;
                border-bottom: 1px solid hsl(240, 5%, 91%);
                cursor: pointer;
                font-size: 12px;

                div.question {
                    display: flex;
                    justify-content: space-between;

                    span {
                        // font-size: 12px;
                        line-height: 36px;
                        color: hsl(240, 6%, 50%);
                    }

                    span.active {
                        font-weight: bold;
                    }

                    img {
                        // height: 7px;
                        // width: 10px;
                        align-self: center;
                    }
                }

                div p {
                    display: block;
                    // font-size: 12px;
                    text-align: justify;
                    margin-right: 40px;
                    color: hsl(240, 14%, 52%);
                    height: 0;
                    overflow: hidden;
                    transform: scale(0);
                    transition: .3s linear;

                    i {
                        width: 20px;
                        text-align: center;
                    }
                }

                div p.active {
                    height: auto;
                    transform: scale(1);
                    margin-bottom: 12px;
                }
            }
        }

        div.lang {
            position: absolute;
            top: 10%;
            right: 5%;
            width: 20px;

            img {
                width: 100%;
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
            }

            img.en {
                transform: scale(1);
                transition: .3s;
            }

            img.en.change-lang {
                // display: none;
                transform: scale(0);
            }

            img.pl {
                // display: none;
                transform: scale(0);
                transition: .3s;
            }

            img.pl.change-lang {
                transform: scale(1);
                // display: inline;
            }
        }
    }

    @keyframes logo-move {
        0% {
            transform: translateY(0)
        }

        50% {
            transform: translateY(-8%);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes pattern-change {
        0% {
            transform: scale(1)
        }

        50% {
            transform: scale(0.9);
        }

        100% {
            transform: scale(1);
        }
    }

    // animation-tablet
    @keyframes logo-move-desktop {
        0% {
            transform: translate(-50%, 0)
        }

        50% {
            transform: translate(-50%, -8%);
        }

        100% {
            transform: translate(-50%, 0);
        }
    }

    // Phones
    @media (min-height: 640px) {
        section.faq {
            padding-top: 140px;

            h1 {
                font-size: 36px;
                padding-bottom: 25px;
            }
        }
    }

    @media (orientation: portrait) and (min-height: 730px) {
        section.faq {
            h1 {
                font-size: 46px;
            }

            div.cases {
                div.case {
                    font-size: 16px;

                    div.question {
                        padding-top: 20px;
                    }
                }
            }
        }
    }

    @media (orientation: landscape) {

        section.top {
            top: 50%;
            transform: translateY(-50%);
            left: -4.7%;
            // background-color: #f00;
        }

        section.faq {
            left: 8%;
            top: 2%;
            right: .5%;
            min-height: calc(100% - 2% - 2%);
            padding: 10px;

            h1 {
                padding-left: 41%;
            }

            div.cases {
                padding-left: 41%;
                padding-right: 0;

                div.case {
                    div p {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    @media (orientation: landscape) and (min-width: 640px) {

        section.top {
            left: 0;
        }

        section.faq {
            top: 5%;
            min-height: calc(100% - 5% - 5%);

            h1 {
                padding-bottom: 25px;
            }

            div.cases {

                div.case {
                    div p {
                        margin-right: 25px;
                    }
                }
            }
        }
    }

    @media (orientation: landscape) and (min-width: 730px) {
        section.top {
            left: -20px;
        }

        section.faq {
            h1 {
                padding-left: 30%;
                font-size: 40px;
                padding-bottom: 15px;
            }

            div.cases {
                padding-left: 30%;

                div.case {
                    font-size: 14px;

                    div.question {
                        padding-top: 10px;
                    }

                    div p {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    // Tablets
    @media (orientation: portrait) and (min-width: 768px) {
        section.top {
            // background-color: #f00;
            top: 4%;
            left: 50%;

            .lady,
            .pattern {
                display: none;
            }

            img.mail-box,
            img.lady-desktop {
                display: block;
                // position: absolute;
            }

            // .lady-desktop {
            //     left: 50%;
            //     // animation: logo-move-desktop 3s linear infinite;
            // }

            img.mail-box {
                position: absolute;
                top: 37%;
                left: 0;
                animation: logo-move 3s linear infinite;

            }
        }

        section.faq {
            top: calc(4% + 215px);
            left: 2%;
            right: 2%;
            min-height: calc(100% - 4% - 215px - 10%);
            padding-top: 220px;


            h1 {
                padding-bottom: 25px;
                font-size: 52px;
            }

            div.cases {
                // min-height: calc(100% - 52px - 25px -220px);
                // background-color: #f00;

                div.case {
                    font-size: 24px;

                    div.question {
                        span {
                            line-height: 50px;
                        }
                    }
                }
            }
        }
    }

    @media (orientation: portrait) and (min-height: 1360px) {
        section.faq {
            height: 1000px;
        }
    }
}

// desktop

@media (min-width: 1024px) {
    div.wrapper {
        width: 1000px;
        position: abosulte;
        left: 50%;
        transform: translateX(-50%);

        section.top {
            // background-color: #f00;
            top: 50%;
            left: -50px;
            // background-color: #f00;

            .lady,
            .pattern {
                display: none;
            }

            img.mail-box,
            img.lady-desktop,
            img.pattern-dekstop {
                display: block;
            }

            img.mail-box {
                position: absolute;
                z-index: 2;
                top: 37%;
                left: 0;
                animation: logo-move 3s linear infinite;
            }

            img.pattern-dekstop {
                position: absolute;
                top: -100%;
                left: -105%;
            }

            img.lady-desktop {
                position: relative;
                z-index: 2;
                top: 0;
                left: 0;
            }
        }

        section.faq {
            top: 50%;
            left: 50%;
            min-height: calc(100% - 25% - 25%);
            min-width: 799px;
            transform: translate(-50%, -50%);

            h1 {
                padding-left: calc(45% - 20px);
                padding-top: 45px;
            }

            div.cases {
                padding-left: 45%;
                padding-right: 20px;
                max-height: auto;

                div.case {
                    div p {
                        margin-right: 25px;
                    }
                }
            }
        }
    }
}