* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

html {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(transparent)), -webkit-gradient(linear, left bottom, left top, from(#6565e7), to(transparent));
  background: linear-gradient(to bottom, #af67e9, transparent), linear-gradient(to top, #6565e7, transparent);
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#af67e9), to(transparent)), -webkit-gradient(linear, left top, left bottom, from(#6565e7), to(transparent));
  background: linear-gradient(to top, #af67e9, transparent), linear-gradient(to bottom, #6565e7, transparent);
  background-blend-mode: screen;
}

div.wrapper {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
}

div.wrapper section.top {
  position: absolute;
  z-index: 1;
  top: 4%;
  left: 47%;
  -webkit-transform: translateX(-54%);
          transform: translateX(-54%);
}

div.wrapper section.top .lady {
  -webkit-animation: logo-move 3s linear infinite;
          animation: logo-move 3s linear infinite;
}

div.wrapper section.top img.pattern {
  position: absolute;
  top: 110px;
  right: 0;
  -webkit-animation: pattern-change 3s linear infinite;
          animation: pattern-change 3s linear infinite;
}

div.wrapper section.top img.mail-box,
div.wrapper section.top img.lady-desktop,
div.wrapper section.top img.pattern-dekstop {
  display: none;
}

div.wrapper section.faq {
  position: absolute;
  top: calc(4% + 107px);
  left: 2%;
  right: 2%;
  min-height: calc(100% - 4% - 107px - 10%);
  padding-top: 95px;
  margin: 0 15px;
  background-color: #fff;
  border-radius: 20px;
}

div.wrapper section.faq h1 {
  text-align: center;
  font-size: 28px;
}

div.wrapper section.faq div.cases {
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: calc(100% - 25px - 40px);
}

div.wrapper section.faq div.cases div.case {
  overflow: hidden;
  border-bottom: 1px solid #e7e7e9;
  cursor: pointer;
  font-size: 12px;
}

div.wrapper section.faq div.cases div.case div.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.wrapper section.faq div.cases div.case div.question span {
  line-height: 36px;
  color: #787887;
}

div.wrapper section.faq div.cases div.case div.question span.active {
  font-weight: bold;
}

div.wrapper section.faq div.cases div.case div.question img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

div.wrapper section.faq div.cases div.case div p {
  display: block;
  text-align: justify;
  margin-right: 40px;
  color: #737396;
  height: 0;
  overflow: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

div.wrapper section.faq div.cases div.case div p i {
  width: 20px;
}

div.wrapper section.faq div.cases div.case div p.active {
  height: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-bottom: 12px;
}

div.wrapper section.faq div.lang {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 20px;
}

div.wrapper section.faq div.lang img {
  width: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

div.wrapper section.faq div.lang img.en {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s;
  transition: .3s;
}

div.wrapper section.faq div.lang img.en.change-lang {
  -webkit-transform: scale(0);
          transform: scale(0);
}

div.wrapper section.faq div.lang img.pl {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
}

div.wrapper section.faq div.lang img.pl.change-lang {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes logo-move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes logo-move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes pattern-change {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pattern-change {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes logo-move-desktop {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, -8%);
            transform: translate(-50%, -8%);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes logo-move-desktop {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, -8%);
            transform: translate(-50%, -8%);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (min-height: 640px) {
  div.wrapper section.faq {
    padding-top: 140px;
  }
  div.wrapper section.faq h1 {
    font-size: 36px;
    padding-bottom: 25px;
  }
}

@media (orientation: portrait) and (min-height: 730px) {
  div.wrapper section.faq h1 {
    font-size: 46px;
  }
  div.wrapper section.faq div.cases div.case {
    font-size: 16px;
  }
  div.wrapper section.faq div.cases div.case div.question {
    padding-top: 20px;
  }
}

@media (orientation: landscape) {
  div.wrapper section.top {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -4.7%;
  }
  div.wrapper section.faq {
    left: 8%;
    top: 2%;
    right: .5%;
    min-height: calc(100% - 2% - 2%);
    padding: 10px;
  }
  div.wrapper section.faq h1 {
    padding-left: 41%;
  }
  div.wrapper section.faq div.cases {
    padding-left: 41%;
    padding-right: 0;
  }
  div.wrapper section.faq div.cases div.case div p {
    margin-right: 0;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  div.wrapper section.top {
    left: 0;
  }
  div.wrapper section.faq {
    top: 5%;
    min-height: calc(100% - 5% - 5%);
  }
  div.wrapper section.faq h1 {
    padding-bottom: 25px;
  }
  div.wrapper section.faq div.cases div.case div p {
    margin-right: 25px;
  }
}

@media (orientation: landscape) and (min-width: 730px) {
  div.wrapper section.top {
    left: -20px;
  }
  div.wrapper section.faq h1 {
    padding-left: 30%;
    font-size: 40px;
    padding-bottom: 15px;
  }
  div.wrapper section.faq div.cases {
    padding-left: 30%;
  }
  div.wrapper section.faq div.cases div.case {
    font-size: 14px;
  }
  div.wrapper section.faq div.cases div.case div.question {
    padding-top: 10px;
  }
  div.wrapper section.faq div.cases div.case div p {
    margin-right: 0;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  div.wrapper section.top {
    top: 4%;
    left: 50%;
  }
  div.wrapper section.top .lady,
  div.wrapper section.top .pattern {
    display: none;
  }
  div.wrapper section.top img.mail-box,
  div.wrapper section.top img.lady-desktop {
    display: block;
  }
  div.wrapper section.top img.mail-box {
    position: absolute;
    top: 37%;
    left: 0;
    -webkit-animation: logo-move 3s linear infinite;
            animation: logo-move 3s linear infinite;
  }
  div.wrapper section.faq {
    top: calc(4% + 215px);
    left: 2%;
    right: 2%;
    min-height: calc(100% - 4% - 215px - 10%);
    padding-top: 220px;
  }
  div.wrapper section.faq h1 {
    padding-bottom: 25px;
    font-size: 52px;
  }
  div.wrapper section.faq div.cases div.case {
    font-size: 24px;
  }
  div.wrapper section.faq div.cases div.case div.question span {
    line-height: 50px;
  }
}

@media (orientation: portrait) and (min-height: 1360px) {
  div.wrapper section.faq {
    height: 1000px;
  }
}

@media (min-width: 1024px) {
  div.wrapper {
    width: 1000px;
    position: abosulte;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  div.wrapper section.top {
    top: 50%;
    left: -50px;
  }
  div.wrapper section.top .lady,
  div.wrapper section.top .pattern {
    display: none;
  }
  div.wrapper section.top img.mail-box,
  div.wrapper section.top img.lady-desktop,
  div.wrapper section.top img.pattern-dekstop {
    display: block;
  }
  div.wrapper section.top img.mail-box {
    position: absolute;
    z-index: 2;
    top: 37%;
    left: 0;
    -webkit-animation: logo-move 3s linear infinite;
            animation: logo-move 3s linear infinite;
  }
  div.wrapper section.top img.pattern-dekstop {
    position: absolute;
    top: -100%;
    left: -105%;
  }
  div.wrapper section.top img.lady-desktop {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
  }
  div.wrapper section.faq {
    top: 50%;
    left: 50%;
    min-height: calc(100% - 25% - 25%);
    min-width: 799px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  div.wrapper section.faq h1 {
    padding-left: calc(45% - 20px);
    padding-top: 45px;
  }
  div.wrapper section.faq div.cases {
    padding-left: 45%;
    padding-right: 20px;
    max-height: auto;
  }
  div.wrapper section.faq div.cases div.case div p {
    margin-right: 25px;
  }
}
/*# sourceMappingURL=style.css.map */